fastapi[all]
uvicorn[standard]
pydantic-settings
sqlalchemy>=2.0.0
aiosqlite
asyncmy
alembic
python-jose[cryptography]
passlib[bcrypt]
redis
httpx
tenacity
typer

# Testing
pytest
pytest-asyncio
behave
